mixin createNeonButton(link, newTab = false , downloadable = undefined)
    .center
        if downloadable
            a.button-neon(href= `${link}` target= newTab? '_blank' : '' rel='noopener noreferrer' role='button' download = downloadable).center.thirdTopMargin More Details
                div
                div
                div
                div
        else
            a.button-neon(href= `${link}` target= newTab? '_blank' : '' rel='noopener noreferrer' role='button').center.thirdTopMargin More Details
                div
                div
                div
                div

mixin createCards(projects, isMobile = false)
    .row.justify-content-center.primaryTopMargin
        each _, i in projects
            .col-sm-12.col-md-6.col-lg-6.col-xl-4
                .card.primaryBottomMargin
                    div(class = isMobile? "responsive-vertical-container" : "responsive-horizontal-container")
                        //Images
                        img(src=`${projects[i].front_image}` alt = " " class = isMobile? "responsive-vertical-frame" : "responsive-horizontal-frame")
                    h2.secondaryTopMargin #{projects[i].title}
                    h3.fourthTopMargin #{projects[i].type}
                    p.thirdTopMargin.description.scroller.
                        !{projects[i].simple_description}
                    +createNeonButton(projects[i].link_to_project)

mixin createSectionTitle(obj)
    .row.justify-content-center
        .col-lg-12.center.primaryTopMargin
            img(src=`${obj.image}` alt = " " style = "width = 100%")
        .col-lg-12.center(style="margin-bottom:var(--spacing-primary); margin-top: var(--spacing-secondary);")
            h1 #{obj.title}

mixin createInfo(info)
    img(src=`${info.image}` alt = " ")
    h2.thirdTopMargin #{info.title}
    if info.description.includes("http")
        +createNeonButton(info.description, newTab = true)
    else if info.description.includes(".jpg") || info.description.includes(".png") || info.description.includes(".pdf")
        +createNeonButton(info.description, newTab = false, downloadable = info.file_name)
    else
        h3.thirdTopMargin.center.
            !{info.description}
        

mixin postScreenShot(screenshots)
    .row.justify-content-center.primaryTopMargin
        each _, i in screenshots
            .col-sm-12.col-md-6.col-lg-6.col-xl-4
                .primaryBottomMargin
                    div.responsive-horizontal-container
                        //Images
                        img(src=`${screenshots[i]}` alt = " ").responsive-horizontal-frame

mixin createProject(project, isMobile = false)
    .col-lg-12
        .row.justify-content-center
            .col-sm-12.col-md-6.col-lg-6.col-xl-4.center
                img(src=`${project.logo}` alt = " ").logo
        .row.primaryTopMargin
            .projectPageCard
                .row.justify-content-center
                    .col-lg-12.center
                        .responsive-horizontal-container
                            //Youtube Vid
                            iframe(width='424' height='238' src=`${project.video}` frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true' loading = 'lazy').responsive-horizontal-frame
                .row.justify-content-center.primaryTopMargin
                    .col-lg-12.center
                        h1.primaryTopMargin Description
                    .col-lg-12.center
                        p.primaryVerticalMargin.
                            !{project.detailed_description}
                +postScreenShot(project.screen_shots)
                .col-lg-12.center.primaryVerticalMargin
                    h1.primaryVerticalMargin.center Development
                .row.justify-content-center
                    each info, i in project.info_development
                        .col-sm-12.col-md-6.col-lg-6.col-xl-4.primaryVerticalMargin.center
                            +createInfo(info)
                .col-lg-12.center
                    h1.primaryVerticalMargin Source
                .row.justify-content-center
                    each info, i in project.info_source
                        .col-sm-12.col-md-6.col-lg-6.col-xl-4.primaryVerticalMargin.center
                            +createInfo(info)

mixin displayProfile(profile)
    .col-12
        .row.justify-content-center
            .col-12.p-0
                .col-12.center
                    h1 #{profile.name}
                    h2.thirdTopMargin #{profile.title}
                .row.justify-content-center
                    .col-xl-3.col-lg-4.col-md-6.center.primaryTopMargin
                        img(src = `${profile.image}` style = "width:100%; border-radius: var(--border-radius-size-secondary)" alt = " ").center
                .col-12.p-0
                    p.primaryVerticalMargin.
                        !{profile.description}
                .col-12
                    .row.justify-content-center
                        each info, i in profile.info
                            .col-sm-12.col-md-6.col-lg-6.col-xl-4.primaryVerticalMargin.center
                                +createInfo(info)
                    
                

mixin displayLanguages(languages)
    .col-lg-12
        .row.justify-content-between
            .col-lg-12
                h1.center Languages
            each val, language in languages
                .col-md-6.col-lg-6.col-xl-3.p-0(class = (language == "english") ? "pr-md-4" : (language == "french") ? "pl-md-4 px-xl-4" : (language == "arabic") ? "pr-md-4 px-xl-4" : "pl-md-4")
                    .primaryTopMargin.col-12.p-0(style = "display: inline-flex")
                        h2.p-0 #{language}
                        img(src = `${val.flag}` alt = " ").svg-flag
                    .thirdTopMargin
                        each rate, i in val.description
                            .col-12.p-0
                                h3 #{i}
                            +ballChart(rate)

mixin blockChart(chartTitle, dataSet, options = {"width": ""})
    .col-12
        .col-lg-12.p-0
            .row.justify-content-center
                .col-lg-12.p-0
                    h1.center.primaryBottomMargin #{chartTitle}
            .row.justify-content-between
                .col-lg-12(style = "display: contents")
                    - const collumn_spacing = 100 / Object.keys(dataSet).length
                    each val, language in dataSet
                        .col-auto.p-0(style = `width: ${options.width || (collumn_spacing - collumn_spacing * .15).toString() + "%"}`)
                            .thirdTopMargin
                                each rate, i in val
                                    .col-12.p-0
                                        +blockRow(rate)
                            .col-12.p-0.thirdTopMargin.center
                                .toolTip.center
                                    h3.p-0.center #{language}
                                    span.toolTipText.center #{language}
                                

mixin blockRow(rate)
    - const maxRate = 10
    .col.p-0
        if rate > maxRate || rate < 0
            h2 Wrong Rate Value!
        else
            - for (var ball = 0; ball < maxRate; ball++)
                if ball < maxRate - rate
                    .blockChartEmpty
                else
                    .blockChartFull

mixin ballChart(rate)
    - const maxRate = 10
    .col.p-0(style="display: inline-flex;")
        if rate > maxRate || rate < 0
            h2 Wrong Rate Value!
        else
            - for (var ball = 0; ball < maxRate; ball++)
                if ball < rate
                    .ballChartFull.p-1
                else
                    .ballChartEmpty.p-1