mixin createNeonButton(link, newTab = false)
    .center
        a.button-neon(href= `${link}` target= newTab? '_blank' : '' rel='noopener noreferrer' role='button').center.thirdTopMargin More Details
            div
            div
            div
            div

mixin createCards(projects, isMobile = false)
    .row.justify-content-center.primaryTopMargin
        each _, i in projects
            .col-sm-12.col-md-6.col-lg-6.col-xl-4
                .card.primaryBottomMargin
                    div(class = isMobile? "responsive-vertical-container" : "responsive-horizontal-container")
                        //Images
                        img(src=`${projects[i].front_image}` class = isMobile? "responsive-vertical-frame" : "responsive-horizontal-frame")
                    h2.secondaryTopMargin #{projects[i].title}
                    h3.fourthTopMargin #{projects[i].type}
                    p.thirdTopMargin.description.scroller.
                        !{projects[i].simple_description}
                    +createNeonButton(projects[i].link_to_project)


mixin createSectionTitle(obj)
    .row.justify-content-center
        .col-lg-12.center.primaryTopMargin
            img(src=`${obj.image}`)
        .col-lg-12.center(style="margin-bottom:var(--spacing-primary); margin-top: var(--spacing-secondary);")
            h1 #{obj.title}

mixin createInfo(info)
    .col-sm-12.col-md-6.col-lg-6.col-xl-4.primaryVerticalMargin.center
        img(src=`${info.image}`)
        h2.thirdTopMargin #{info.title}
        if !info.description.indexOf("http")
            +createNeonButton(info.description, true)
        else
            h3.thirdTopMargin.center.
                !{info.description}
        

mixin postScreenShot(screenshots)
    .row.justify-content-center.primaryTopMargin
        each _, i in screenshots
            .col-sm-12.col-md-6.col-lg-6.col-xl-4
                .primaryBottomMargin
                    div.responsive-horizontal-container
                        //Images
                        img(src=`${screenshots[i]}`).responsive-horizontal-frame

mixin createProject(project, isMobile = false)
    .col-lg-12
        .row.justify-content-center
            .col-sm-12.col-md-6.col-lg-6.col-xl-4.center
                img(src=`${project.logo}`).logo
        .row.primaryTopMargin
            .projectPageCard
                .row.justify-content-center
                    .col-lg-12.center
                        .responsive-horizontal-container
                            //Youtube Vid
                            iframe(width='424' height='238' src=`${project.video}` frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true').responsive-horizontal-frame
                .row.justify-content-center.primaryTopMargin
                    .col-lg-12.center
                        h1.primaryTopMargin Description
                    .col-lg-12.center
                        p.primaryVerticalMargin.
                            !{project.detailed_description}
                +postScreenShot(project.screen_shots)
                .row.justify-content-center
                    .col-lg-12.center.primaryVerticalMargin
                        h1.primaryTopMargin.center Development
                .row.justify-content-center.primaryVerticalMargin
                    each info, i in project.info_development
                        +createInfo(info)
                .col-lg-12.center
                    h1.primaryVerticalMargin Source
                .row.justify-content-center.primaryVerticalMargin
                    each info, i in project.info_source
                        +createInfo(info)
                        